@import "common/variables";

body{
    background: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 750vh;

    img{
        display: block;
        max-width: 100%;
    }
}